* {               /*обнуление отступов*/
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gill Sans", sans-serif;
    /*color: black;
    background-color: #FFFFFF*/
}

h1 {
    color: #69312c;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*color: #7BA7AB*/
    margin-top: 2%;
}

.results {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black
    margin-top: -30%;
    margin-bottom: -2%;
}

* {box-sizing: border-box;}
div {padding: 10px 0}
form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.d1 {
    background: #ff8c21; /*#A3D0C3;*/
    margin-top: 0%;
}
.d1 input {
    font-family: "Gill Sans", sans-serif;
    font-size: 16px;
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: 2px solid #d16517; /*#7BA7AB;*/
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
}

.d1 button {
    font-family: "Gill Sans", sans-serif;
    font-size: 16px;
    position: absolute;
    top: 0;
    right: 0px;
    width: 84px;
    height: 42px;
    border: none;
    background: #d16517; /*#7BA7AB;*/
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

a {
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;  /*#7BA7AB;*/
    margin-top: 0;
    margin-bottom: 2%;
}



.column-one {width: 20%;}*/
.column-two {width: 40%;}
.column-three {width: 30%;}
.column-four {width: 10%;}


table {
    border-collapse: collapse;
    width: 80%;
    height: 80%;
    padding: 20px; /* Поля вокруг текста */
    margin-top: 2%; /* Отступ сверху */
    margin-left: 10%;
    margin-right: 10%;
}


table th {text-align: left;}

th {
	font-weight: bold;
	padding: 5px;
	background: #d5ded6; /*#ebf2f1;*/
	border: 1px solid #dddddd;
	border-left: none;
	border-right: none;
}

tr th:first-child {display: none;}

td {
	border: 1px solid #dddddd;
	padding: 5px;
}

tr td:first-child, .table tr th:first-child {
    display: none;
	border-left: none;
}

tr td:last-child, .table tr th:last-child {
	border-right: none;
}


html {
    scroll-behavior: smooth;
}


.edit {
    width: 35px;

}
.delete {
    width: 35px;

}

button {
    background: white;
    padding: 4px;
    margin-left: 4px;
    border-radius: 5px;
    border: 2px solid #d16517;
    cursor: pointer;
}

.photo {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
   }
.photo_ {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
   }

.photo:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 9px; right: 0px; bottom: -4px; /* Положение подсказки */
    /*z-index: 1; /* Отображаем подсказку поверх других элементов */
    /*background: rgba(0,42,167,0.6); /* Полупрозрачный цвет фона */
    color: black; /* Цвет текста */
    /*text-align: center; /* Выравнивание текста по центру */
    font-family: "Gill Sans", sans-serif; /* Гарнитура шрифта */
    font-size: 12px; /* Размер текста подсказки */
    /*padding: 5px 5px; /* Поля */
    /*border: 1px solid #333; /* Параметры рамки */
   }


.photo_:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 1px; right: 0px; bottom: -4px; /* Положение подсказки */
    /*z-index: 1; /* Отображаем подсказку поверх других элементов */
    /*background: rgba(0,42,167,0.6); /* Полупрозрачный цвет фона */
    color: black; /* Цвет текста */
    /*text-align: center; /* Выравнивание текста по центру */
    font-family: "Gill Sans", sans-serif; /* Гарнитура шрифта */
    font-size: 12px; /* Размер текста подсказки */
    /*padding: 5px 5px; /* Поля */
    /*border: 1px solid #333; /* Параметры рамки */
   }