* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #800000;
    background-color: #FFFFF0
}

.flex{
    display: flex;
}

.flex-center{
    align-content: center;
    justify-content: center;
}

ul.navbar {
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
}