<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{add_words}}</title>
    <link rel="stylesheet" href="/static/add_words.css">


</head>
<div class="flex flex-center">
    <a href="/word_list/">Back to the list</a>
</div>


<body>
<form class="add_form" name="feedback" method="POST" action="/add_words/">
    <div class="form_caption"><h3>Fill the form:</h3></div>
    <div>New word or expression</div>
    <input type="text" name="word" required="required">
    <div>Definition</div>
    <input type="text" name="description" required="required">
    <div>Translation (optional)</div>
    <input type="text" name="translation">
    <input type="submit" name="submit_btn" value="Add">
</form>


<div class="fixed-footer">
    <div class="container">
        <p><img src="/static/cat_new.png"
                alt="cat"
                align="top"/>
        </p>
    </div>
</div>


</body>
</html>