<!DOCTYPE html>
<html>

<title>{{main_page}}</title>
<link rel="stylesheet" href="/static/styles.css">

<head>
</head>


<body>
    <div class="fixed-header">
        <div class="container">
            <p><img src="/static/cat2_new.png"
                alt="cat"
                align="top"/>
            </p>
    </div>
    </div>


    <div class="flex flex-center">
        <h1>Welcome to my vocabulary!</h1>
        <!-- Link to the list of words -->
        <ul class="navbar">
            <ul>
                <a href="/word_list/">
                    View my list of newly learnt words and expressions
                </a>
            </ul>
        </ul>
    </div>

    <div class="fixed-footer">
        <div class="container">
    <p><img src="/static/cat_new.png"
                alt="cat"
                align="top"/>
        </p>
    </div>
    </div>


</body>
</html>