<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{word_list}}</title>
    <link rel="stylesheet" href="/static/word_list/styles.css">

     <div class="flex flex-center">
         <h1>List of newly learnt words</h1>
     </div>

</head>

<body>

    <a href="/add/">Add a new word or expression</a>


    <div class="d1">
        <form action="" method="get">
            <input name="search" placeholder="Type a word..." type="search">
            <button type="submit">Search</button>
        </form>
    </div>

     <table>
         <tbody>
             <tr>
                 <th>Word or expression</th>
                 <th>Definition</th>
                 <th>Translation</th>
             </tr>
             {% for i in word_list %}
             <tr>
                 {% for j in i %}
                 <td>{{j}}</td>
                 {% endfor %}
             </tr>
             {% endfor %}
         </tbody>
     </table>
</body>
</html>
